<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.biz.dao.SimFieldMapper">
  <resultMap id="BaseResultMap" type="com.cinema.biz.model.SimField">
    <id column="field_id" jdbcType="VARCHAR" property="fieldId" />
    <result column="table_type" jdbcType="VARCHAR" property="tableType" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_code" jdbcType="VARCHAR" property="fieldCode" />
    <result column="control_type" jdbcType="VARCHAR" property="controlType" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="is_required" jdbcType="BIT" property="isRequired" />
    <result column="is_show" jdbcType="BIT" property="isShow" />
    <result column="is_extend" jdbcType="BIT" property="isExtend" />
    <result column="cseq" jdbcType="INTEGER" property="cseq" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
  </resultMap>
  <sql id="Base_Column_List">
    field_id, table_type, table_name, data_type, field_type, field_name, field_code, 
    control_type, default_value, is_required, is_show, is_extend, cseq, create_time, 
    creator, update_time, updator
  </sql>
  <!-- 列表 -->
  <select id="getList" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from sim_field
    where 1=1
    <if test="name != null and name != ''">
		and name like concat(concat('%',#{name}),'%')
	</if>
	order by create_time desc
  </select>
</mapper>