<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.biz.dao.SimSimulatorMapper">
  <resultMap id="BaseResultMap" type="com.cinema.biz.model.SimSimulator">
    <id column="simulator_id" jdbcType="VARCHAR" property="simulatorId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cseq" jdbcType="INTEGER" property="cseq" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="isopen" jdbcType="BIT" property="isopen" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
  </resultMap>
  <sql id="Base_Column_List">
    simulator_id, parent_id, name, cseq, enabled, isopen, create_time, creator, update_time, 
    updator
  </sql>
  <!-- 列表 -->
  <select id="getList" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from sim_simulator
    where 1=1
    <if test="name != null and name != ''">
		and name like concat(concat('%',#{name}),'%')
	</if>
	order by create_time desc
  </select>
  <select id="isParent"  parameterType="String" resultType="Boolean">
		select count(1) from sim_simulator t
		where t.parent_id =#{simulatorId}
  </select>
</mapper>